:root,
:host,
.light {
    --ax-neutral-100: #f5f6f7;
    --ax-neutral-200: #ecedef;
    --ax-neutral-300: #e1e3e7;
    --ax-neutral-400: #cfd3d8;
    --ax-neutral-500: #818997;
    --ax-neutral-600: #6f7785;
    --ax-neutral-700: #5d6573;
    --ax-neutral-800: #555d6a;
    --ax-neutral-900: #49515e;
    --ax-neutral-1000: #202733;
    --ax-neutral-000: white;
    --ax-neutral-100A: rgba(0, 26, 51, 0.04);
    --ax-neutral-200A: rgba(0, 14, 41, 0.075);
    --ax-neutral-300A: rgba(0, 17, 51, 0.118);
    --ax-neutral-400A: rgba(0, 22, 48, 0.19);
    --ax-accent-100: #f1f7ff;
    --ax-accent-200: #e4eeff;
    --ax-accent-300: #d4e5fd;
    --ax-accent-400: #bad5fb;
    --ax-accent-500: #428ae3;
    --ax-accent-600: #2176d4;
    --ax-accent-700: #0063c1;
    --ax-accent-800: #005bb6;
    --ax-accent-900: #004ea3;
    --ax-accent-1000: #002459;
    --ax-accent-100A: rgba(0, 110, 255, 0.055);
    --ax-accent-200A: rgba(0, 95, 255, 0.106);
    --ax-accent-300A: rgba(1, 101, 244, 0.17);
    --ax-accent-400A: rgba(0, 100, 241, 0.27);
    --ax-success-100: #e2fde8;
    --ax-success-200: #d5f6db;
    --ax-success-300: #c4edcd;
    --ax-success-400: #a8dfb4;
    --ax-success-500: #199d4f;
    --ax-success-600: #00893c;
    --ax-success-700: #007629;
    --ax-success-800: #006c1f;
    --ax-success-900: #005e0f;
    --ax-success-1000: #002e00;
    --ax-success-100A: rgba(0, 238, 53, 0.114);
    --ax-success-200A: rgba(0, 201, 37, 0.165);
    --ax-success-300A: rgba(1, 178, 39, 0.23);
    --ax-success-400A: rgba(0, 162, 36, 0.34);
    --ax-warning-100: #fff5e4;
    --ax-warning-200: #ffebc7;
    --ax-warning-300: #ffdea5;
    --ax-warning-400: #ffcb6f;
    --ax-warning-500: #e75e01;
    --ax-warning-600: #ca5000;
    --ax-warning-700: #ac4400;
    --ax-warning-800: #a03e00;
    --ax-warning-900: #8c3500;
    --ax-warning-1000: #481700;
    --ax-warning-100A: rgba(255, 161, 0, 0.106);
    --ax-warning-200A: rgba(255, 164, 0, 0.22);
    --ax-warning-300A: rgba(255, 162, 1, 0.353);
    --ax-warning-400A: rgba(255, 163, 0, 0.565);
    --ax-danger-100: #fff2f7;
    --ax-danger-200: #ffe8f0;
    --ax-danger-300: #ffd9e6;
    --ax-danger-400: #ffc2d7;
    --ax-danger-500: #ec526e;
    --ax-danger-600: #e22948;
    --ax-danger-700: #cb0035;
    --ax-danger-800: #bc002a;
    --ax-danger-900: #a60017;
    --ax-danger-1000: #560000;
    --ax-danger-100A: rgba(255, 0, 99, 0.05);
    --ax-danger-200A: rgba(255, 0, 89, 0.09);
    --ax-danger-300A: rgba(255, 0, 88, 0.15);
    --ax-danger-400A: rgba(255, 0, 88, 0.24);
    --ax-info-100: #eef6fc;
    --ax-info-200: #e3eff7;
    --ax-info-300: #d7e6f0;
    --ax-info-400: #c0d6e4;
    --ax-info-500: #5a8fae;
    --ax-info-600: #457c9d;
    --ax-info-700: #246b91;
    --ax-info-800: #156389;
    --ax-info-900: #00557d;
    --ax-info-1000: #002942;
    --ax-info-100A: rgba(0, 120, 210, 0.067);
    --ax-info-200A: rgba(0, 110, 183, 0.11);
    --ax-info-300A: rgba(0, 96, 160, 0.157);
    --ax-info-400A: rgba(0, 90, 146, 0.247);
    --ax-brand-magenta-100: #fbf3f6;
    --ax-brand-magenta-200: #f8eaef;
    --ax-brand-magenta-300: #f3dde5;
    --ax-brand-magenta-400: #eccad6;
    --ax-brand-magenta-500: #c26f92;
    --ax-brand-magenta-600: #b65681;
    --ax-brand-magenta-700: #a93d70;
    --ax-brand-magenta-800: #a33069;
    --ax-brand-magenta-900: #98185d;
    --ax-brand-magenta-1000: #52002b;
    --ax-brand-magenta-100A: rgba(170, 0, 64, 0.047);
    --ax-brand-magenta-200A: rgba(170, 0, 61, 0.082);
    --ax-brand-magenta-300A: rgba(165, 0, 60, 0.133);
    --ax-brand-magenta-400A: rgba(164, 0, 58, 0.208);
    --ax-brand-beige-100: #fff4ee;
    --ax-brand-beige-200: #fdebe0;
    --ax-brand-beige-300: #fcddcd;
    --ax-brand-beige-400: #f8c8b1;
    --ax-brand-beige-500: #c0765d;
    --ax-brand-beige-600: #ad634a;
    --ax-brand-beige-700: #915541;
    --ax-brand-beige-800: #874e3b;
    --ax-brand-beige-900: #764332;
    --ax-brand-beige-1000: #3c1f15;
    --ax-brand-beige-100A: rgba(255, 90, 0, 0.067);
    --ax-brand-beige-200A: rgba(239, 91, 0, 0.12);
    --ax-brand-beige-300A: rgba(240, 82, 0, 0.196);
    --ax-brand-beige-400A: rgba(233, 76, 0, 0.306);
    --ax-brand-blue-100: #eef6fc;
    --ax-brand-blue-200: #e3eff7;
    --ax-brand-blue-300: #d7e6f0;
    --ax-brand-blue-400: #c0d6e4;
    --ax-brand-blue-500: #5a8fae;
    --ax-brand-blue-600: #457c9d;
    --ax-brand-blue-700: #246b91;
    --ax-brand-blue-800: #156389;
    --ax-brand-blue-900: #00557d;
    --ax-brand-blue-1000: #002942;
    --ax-brand-blue-100A: rgba(0, 120, 210, 0.067);
    --ax-brand-blue-200A: rgba(0, 110, 183, 0.11);
    --ax-brand-blue-300A: rgba(0, 96, 160, 0.157);
    --ax-brand-blue-400A: rgba(0, 90, 146, 0.247);
    --ax-meta-purple-100: #f8f3ff;
    --ax-meta-purple-200: #f4ebff;
    --ax-meta-purple-300: #ebdefc;
    --ax-meta-purple-400: #decbf7;
    --ax-meta-purple-500: #a271df;
    --ax-meta-purple-600: #905bd3;
    --ax-meta-purple-700: #7c4abf;
    --ax-meta-purple-800: #7342b6;
    --ax-meta-purple-900: #6535a7;
    --ax-meta-purple-1000: #360072;
    --ax-meta-purple-100A: rgba(107, 0, 255, 0.047);
    --ax-meta-purple-200A: rgba(115, 0, 255, 0.08);
    --ax-meta-purple-300A: rgba(101, 0, 232, 0.13);
    --ax-meta-purple-400A: rgba(94, 0, 216, 0.204);
    --ax-meta-lime-100: #f4f9d1;
    --ax-meta-lime-200: #ebf4a9;
    --ax-meta-lime-300: #e1ea9a;
    --ax-meta-lime-400: #cfda6c;
    --ax-meta-lime-500: #878f00;
    --ax-meta-lime-600: #757c00;
    --ax-meta-lime-700: #646900;
    --ax-meta-lime-800: #5c6100;
    --ax-meta-lime-900: #515400;
    --ax-meta-lime-1000: #2a2800;
    --ax-meta-lime-100A: rgba(195, 222, 0, 0.18);
    --ax-meta-lime-200A: rgba(196, 223, 0, 0.337);
    --ax-meta-lime-300A: rgba(180, 202, 0, 0.396);
    --ax-meta-lime-400A: rgba(172, 191, 0, 0.576);
}

.dark {
    --ax-neutral-100: #161d28;
    --ax-neutral-200: #1c232f;
    --ax-neutral-300: #242b37;
    --ax-neutral-400: #2e3641;
    --ax-neutral-500: #656d7b;
    --ax-neutral-600: #777f8d;
    --ax-neutral-700: #8a92a0;
    --ax-neutral-800: #949ba8;
    --ax-neutral-900: #a5acb6;
    --ax-neutral-1000: #dfe1e5;
    --ax-neutral-000: black;
    --ax-neutral-100A: rgba(200, 207, 240, 0.043);
    --ax-neutral-200A: rgba(202, 209, 246, 0.075);
    --ax-neutral-300A: rgba(215, 222, 250, 0.11);
    --ax-neutral-400A: rgba(224, 237, 254, 0.153);
    --ax-accent-100: #091e37;
    --ax-accent-200: #0b233f;
    --ax-accent-300: #102b4b;
    --ax-accent-400: #17365c;
    --ax-accent-500: #2e6db8;
    --ax-accent-600: #4580ca;
    --ax-accent-700: #5f94d8;
    --ax-accent-800: #6d9ddd;
    --ax-accent-900: #84aee6;
    --ax-accent-1000: #a9cbfa;
    --ax-accent-100A: rgba(0, 103, 250, 0.11);
    --ax-accent-200A: rgba(0, 118, 251, 0.145);
    --ax-accent-300A: rgba(24, 131, 251, 0.2);
    --ax-accent-400A: rgba(47, 142, 254, 0.275);
    --ax-success-100: #002300;
    --ax-success-200: #002a00;
    --ax-success-300: #030;
    --ax-success-400: #004000;
    --ax-success-500: #207c41;
    --ax-success-600: #378f53;
    --ax-success-700: #4ca265;
    --ax-success-800: #5eab72;
    --ax-success-900: #78ba87;
    --ax-success-1000: #98d7a7;
    --ax-success-100A: rgba(0, 245, 0, 0.063);
    --ax-success-200A: rgba(0, 254, 0, 0.09);
    --ax-success-300A: rgba(0, 253, 0, 0.13);
    --ax-success-400A: rgba(0, 255, 0, 0.184);
    --ax-warning-100: #371100;
    --ax-warning-200: #3e1704;
    --ax-warning-300: #471f0c;
    --ax-warning-400: #542b18;
    --ax-warning-500: #af5122;
    --ax-warning-600: #c56333;
    --ax-warning-700: #de753c;
    --ax-warning-800: #e78040;
    --ax-warning-900: #ed974b;
    --ax-warning-1000: #ffbc4b;
    --ax-warning-100A: rgba(252, 0, 0, 0.173);
    --ax-warning-200A: rgba(254, 31, 0, 0.2);
    --ax-warning-300A: rgba(252, 63, 0, 0.24);
    --ax-warning-400A: rgba(253, 96, 8, 0.294);
    --ax-danger-100: #410409;
    --ax-danger-200: #490b10;
    --ax-danger-300: #521517;
    --ax-danger-400: #5f2021;
    --ax-danger-500: #c8343f;
    --ax-danger-600: #de4a50;
    --ax-danger-700: #eb6772;
    --ax-danger-800: #ee7685;
    --ax-danger-900: #f28ea2;
    --ax-danger-1000: #ffb3cd;
    --ax-danger-100A: rgba(255, 0, 0, 0.21);
    --ax-danger-200A: rgba(252, 0, 0, 0.247);
    --ax-danger-300A: rgba(255, 21, 3, 0.282);
    --ax-danger-400A: rgba(255, 54, 37, 0.337);
    --ax-info-100: #001f35;
    --ax-info-200: #00253c;
    --ax-info-300: #002d46;
    --ax-info-400: #013956;
    --ax-info-500: #43718d;
    --ax-info-600: #5b839c;
    --ax-info-700: #7396ab;
    --ax-info-800: #7f9fb3;
    --ax-info-900: #93afc0;
    --ax-info-1000: #b4ccdc;
    --ax-info-100A: rgba(0, 120, 247, 0.1);
    --ax-info-200A: rgba(0, 141, 249, 0.133);
    --ax-info-300A: rgba(0, 157, 252, 0.176);
    --ax-info-400A: rgba(0, 167, 254, 0.247);
    --ax-brand-magenta-100: #321220;
    --ax-brand-magenta-200: #3a1827;
    --ax-brand-magenta-300: #42202e;
    --ax-brand-magenta-400: #4e2a39;
    --ax-brand-magenta-500: #a35276;
    --ax-brand-magenta-600: #b16887;
    --ax-brand-magenta-700: #be7f99;
    --ax-brand-magenta-800: #c58aa2;
    --ax-brand-magenta-900: #cf9eb1;
    --ax-brand-magenta-1000: #e6becd;
    --ax-brand-magenta-100A: rgba(250, 2, 38, 0.153);
    --ax-brand-magenta-200A: rgba(253, 38, 75, 0.184);
    --ax-brand-magenta-300A: rgba(251, 72, 100, 0.22);
    --ax-brand-magenta-400A: rgba(254, 100, 129, 0.267);
    --ax-brand-beige-100: #2d160e;
    --ax-brand-beige-200: #351d15;
    --ax-brand-beige-300: #3d241c;
    --ax-brand-beige-400: #493027;
    --ax-brand-beige-500: #975e4a;
    --ax-brand-beige-600: #ab705b;
    --ax-brand-beige-700: #c0836e;
    --ax-brand-beige-800: #c78e79;
    --ax-brand-beige-900: #d1a08c;
    --ax-brand-beige-1000: #e9c0ad;
    --ax-brand-beige-100A: rgba(254, 29, 0, 0.13);
    --ax-brand-beige-200A: rgba(251, 69, 0, 0.165);
    --ax-brand-beige-300A: rgba(254, 98, 16, 0.196);
    --ax-brand-beige-400A: rgba(252, 131, 64, 0.247);
    --ax-brand-blue-100: #001f35;
    --ax-brand-blue-200: #00253c;
    --ax-brand-blue-300: #002d46;
    --ax-brand-blue-400: #013956;
    --ax-brand-blue-500: #43718d;
    --ax-brand-blue-600: #5b839c;
    --ax-brand-blue-700: #7396ab;
    --ax-brand-blue-800: #7f9fb3;
    --ax-brand-blue-900: #93afc0;
    --ax-brand-blue-1000: #b4ccdc;
    --ax-brand-blue-100A: rgba(0, 120, 247, 0.1);
    --ax-brand-blue-200A: rgba(0, 141, 249, 0.133);
    --ax-brand-blue-300A: rgba(0, 157, 252, 0.176);
    --ax-brand-blue-400A: rgba(0, 167, 254, 0.247);
    --ax-meta-purple-100: #1f1832;
    --ax-meta-purple-200: #261e3b;
    --ax-meta-purple-300: #2e2546;
    --ax-meta-purple-400: #3a2f55;
    --ax-meta-purple-500: #8157bb;
    --ax-meta-purple-600: #936aca;
    --ax-meta-purple-700: #a581d6;
    --ax-meta-purple-800: #ae8cdb;
    --ax-meta-purple-900: #bb9fe3;
    --ax-meta-purple-1000: #efe4fd;
    --ax-meta-purple-100A: rgba(212, 56, 252, 0.086);
    --ax-meta-purple-200A: rgba(206, 93, 255, 0.125);
    --ax-meta-purple-300A: rgba(195, 112, 252, 0.176);
    --ax-meta-purple-400A: rgba(195, 128, 254, 0.243);
    --ax-meta-lime-100: #1c1f00;
    --ax-meta-lime-200: #222500;
    --ax-meta-lime-300: #292d00;
    --ax-meta-lime-400: #343900;
    --ax-meta-lime-500: #6a7200;
    --ax-meta-lime-600: #7c8500;
    --ax-meta-lime-700: #8f9800;
    --ax-meta-lime-800: #99a200;
    --ax-meta-lime-900: #a9b325;
    --ax-meta-lime-1000: #c6d200;
    --ax-meta-lime-100A: rgba(252, 191, 0, 0.06);
    --ax-meta-lime-200A: rgba(246, 207, 0, 0.086);
    --ax-meta-lime-300A: rgba(252, 233, 0, 0.114);
    --ax-meta-lime-400A: rgba(251, 245, 0, 0.16);
}

:root,
:host,
.light {
    --ax-shadow-dialog:
        0px 4px 6px 0px rgba(0, 0, 0, 0.15), 0px 1px 3px -1px rgba(0, 0, 0, 0.15), 0px 1px 1px 0px rgba(0, 0, 0, 0.06);
    --ax-opacity-disabled: 0.3;
    --ax-text-logo: #c30000;
    --ax-bg-default: #fff;
    --ax-bg-input: rgba(255, 255, 255, 0.85);
    --ax-bg-overlay: rgba(2, 20, 49, 0.8);
    --ax-bg-raised: var(--ax-neutral-000);
    --ax-bg-sunken: var(--ax-neutral-200);
    --ax-border-focus: var(--ax-neutral-1000);
}

.dark,
.dark-theme {
    --ax-shadow-dialog:
        0px 0px 1px 0px rgba(7, 9, 13, 0), 0px 2px 5px 0px rgba(7, 9, 13, 0.35), 0px 5px 12px 0px rgba(7, 9, 13, 0.5);
    --ax-opacity-disabled: 0.4;
    --ax-bg-default: #0e151f;
    --ax-bg-input: rgba(7, 9, 13, 0.5);
    --ax-bg-sunken: #07090d;
    --ax-bg-overlay: rgba(2, 20, 49, 0.8);
    --ax-text-logo: var(--ax-neutral-1000);
    --ax-bg-raised: var(--ax-neutral-200);
    --ax-border-focus: var(--ax-neutral-1000);
}

:root,
:host,
.light,
.dark {
    --ax-bg-neutral-soft: var(--ax-neutral-100);
    --ax-bg-neutral-softA: var(--ax-neutral-100A);
    --ax-bg-neutral-moderate: var(--ax-neutral-200);
    --ax-bg-neutral-moderateA: var(--ax-neutral-200A);
    --ax-bg-neutral-moderate-hover: var(--ax-neutral-300);
    --ax-bg-neutral-moderate-hoverA: var(--ax-neutral-300A);
    --ax-bg-neutral-moderate-pressed: var(--ax-neutral-400);
    --ax-bg-neutral-moderate-pressedA: var(--ax-neutral-400A);
    --ax-bg-neutral-strong: var(--ax-neutral-700);
    --ax-bg-neutral-strong-hover: var(--ax-neutral-800);
    --ax-bg-neutral-strong-pressed: var(--ax-neutral-900);
    --ax-bg-accent-soft: var(--ax-accent-100);
    --ax-bg-accent-softA: var(--ax-accent-100A);
    --ax-bg-accent-moderate: var(--ax-accent-200);
    --ax-bg-accent-moderateA: var(--ax-accent-200A);
    --ax-bg-accent-moderate-hover: var(--ax-accent-300);
    --ax-bg-accent-moderate-hoverA: var(--ax-accent-300A);
    --ax-bg-accent-moderate-pressed: var(--ax-accent-400);
    --ax-bg-accent-moderate-pressedA: var(--ax-accent-400A);
    --ax-bg-accent-strong: var(--ax-accent-600);
    --ax-bg-accent-strong-hover: var(--ax-accent-700);
    --ax-bg-accent-strong-pressed: var(--ax-accent-800);
    --ax-bg-success-soft: var(--ax-success-100);
    --ax-bg-success-softA: var(--ax-success-100A);
    --ax-bg-success-moderate: var(--ax-success-200);
    --ax-bg-success-moderateA: var(--ax-success-200A);
    --ax-bg-success-moderate-hover: var(--ax-success-300);
    --ax-bg-success-moderate-hoverA: var(--ax-success-300A);
    --ax-bg-success-moderate-pressed: var(--ax-success-400);
    --ax-bg-success-moderate-pressedA: var(--ax-success-400A);
    --ax-bg-success-strong: var(--ax-success-600);
    --ax-bg-success-strong-hover: var(--ax-success-700);
    --ax-bg-success-strong-pressed: var(--ax-success-800);
    --ax-bg-warning-soft: var(--ax-warning-100);
    --ax-bg-warning-softA: var(--ax-warning-100A);
    --ax-bg-warning-moderate: var(--ax-warning-200);
    --ax-bg-warning-moderateA: var(--ax-warning-200A);
    --ax-bg-warning-moderate-hover: var(--ax-warning-300);
    --ax-bg-warning-moderate-hoverA: var(--ax-warning-300A);
    --ax-bg-warning-moderate-pressed: var(--ax-warning-400);
    --ax-bg-warning-moderate-pressedA: var(--ax-warning-400A);
    --ax-bg-warning-strong: var(--ax-warning-600);
    --ax-bg-warning-strong-hover: var(--ax-warning-700);
    --ax-bg-warning-strong-pressed: var(--ax-warning-800);
    --ax-bg-danger-soft: var(--ax-danger-100);
    --ax-bg-danger-softA: var(--ax-danger-100A);
    --ax-bg-danger-moderate: var(--ax-danger-200);
    --ax-bg-danger-moderateA: var(--ax-danger-200A);
    --ax-bg-danger-moderate-hover: var(--ax-danger-300);
    --ax-bg-danger-moderate-hoverA: var(--ax-danger-300A);
    --ax-bg-danger-moderate-pressed: var(--ax-danger-400);
    --ax-bg-danger-moderate-pressedA: var(--ax-danger-400A);
    --ax-bg-danger-strong: var(--ax-danger-600);
    --ax-bg-danger-strong-hover: var(--ax-danger-700);
    --ax-bg-danger-strong-pressed: var(--ax-danger-800);
    --ax-bg-info-soft: var(--ax-info-100);
    --ax-bg-info-softA: var(--ax-info-100A);
    --ax-bg-info-moderate: var(--ax-info-200);
    --ax-bg-info-moderateA: var(--ax-info-200A);
    --ax-bg-info-moderate-hover: var(--ax-info-300);
    --ax-bg-info-moderate-hoverA: var(--ax-info-300A);
    --ax-bg-info-moderate-pressed: var(--ax-info-400);
    --ax-bg-info-moderate-pressedA: var(--ax-info-400A);
    --ax-bg-info-strong: var(--ax-info-600);
    --ax-bg-info-strong-hover: var(--ax-info-700);
    --ax-bg-info-strong-pressed: var(--ax-info-800);
    --ax-bg-brand-magenta-soft: var(--ax-brand-magenta-100);
    --ax-bg-brand-magenta-softA: var(--ax-brand-magenta-100A);
    --ax-bg-brand-magenta-moderate: var(--ax-brand-magenta-200);
    --ax-bg-brand-magenta-moderateA: var(--ax-brand-magenta-200A);
    --ax-bg-brand-magenta-moderate-hover: var(--ax-brand-magenta-300);
    --ax-bg-brand-magenta-moderate-hoverA: var(--ax-brand-magenta-300A);
    --ax-bg-brand-magenta-moderate-pressed: var(--ax-brand-magenta-400);
    --ax-bg-brand-magenta-moderate-pressedA: var(--ax-brand-magenta-400A);
    --ax-bg-brand-magenta-strong: var(--ax-brand-magenta-600);
    --ax-bg-brand-magenta-strong-hover: var(--ax-brand-magenta-700);
    --ax-bg-brand-magenta-strong-pressed: var(--ax-brand-magenta-800);
    --ax-bg-brand-beige-soft: var(--ax-brand-beige-100);
    --ax-bg-brand-beige-softA: var(--ax-brand-beige-100A);
    --ax-bg-brand-beige-moderate: var(--ax-brand-beige-200);
    --ax-bg-brand-beige-moderateA: var(--ax-brand-beige-200A);
    --ax-bg-brand-beige-moderate-hover: var(--ax-brand-beige-300);
    --ax-bg-brand-beige-moderate-hoverA: var(--ax-brand-beige-300A);
    --ax-bg-brand-beige-moderate-pressed: var(--ax-brand-beige-400);
    --ax-bg-brand-beige-moderate-pressedA: var(--ax-brand-beige-400A);
    --ax-bg-brand-beige-strong: var(--ax-brand-beige-600);
    --ax-bg-brand-beige-strong-hover: var(--ax-brand-beige-700);
    --ax-bg-brand-beige-strong-pressed: var(--ax-brand-beige-800);
    --ax-bg-brand-blue-soft: var(--ax-brand-blue-100);
    --ax-bg-brand-blue-softA: var(--ax-brand-blue-100A);
    --ax-bg-brand-blue-moderate: var(--ax-brand-blue-200);
    --ax-bg-brand-blue-moderateA: var(--ax-brand-blue-200A);
    --ax-bg-brand-blue-moderate-hover: var(--ax-brand-blue-300);
    --ax-bg-brand-blue-moderate-hoverA: var(--ax-brand-blue-300A);
    --ax-bg-brand-blue-moderate-pressed: var(--ax-brand-blue-400);
    --ax-bg-brand-blue-moderate-pressedA: var(--ax-brand-blue-400A);
    --ax-bg-brand-blue-strong: var(--ax-brand-blue-600);
    --ax-bg-brand-blue-strong-hover: var(--ax-brand-blue-700);
    --ax-bg-brand-blue-strong-pressed: var(--ax-brand-blue-800);
    --ax-bg-meta-purple-soft: var(--ax-meta-purple-100);
    --ax-bg-meta-purple-softA: var(--ax-meta-purple-100A);
    --ax-bg-meta-purple-moderate: var(--ax-meta-purple-200);
    --ax-bg-meta-purple-moderateA: var(--ax-meta-purple-200A);
    --ax-bg-meta-purple-moderate-hover: var(--ax-meta-purple-300);
    --ax-bg-meta-purple-moderate-hoverA: var(--ax-meta-purple-300A);
    --ax-bg-meta-purple-moderate-pressed: var(--ax-meta-purple-400);
    --ax-bg-meta-purple-moderate-pressedA: var(--ax-meta-purple-400A);
    --ax-bg-meta-purple-strong: var(--ax-meta-purple-600);
    --ax-bg-meta-purple-strong-hover: var(--ax-meta-purple-700);
    --ax-bg-meta-purple-strong-pressed: var(--ax-meta-purple-800);
    --ax-bg-meta-lime-soft: var(--ax-meta-lime-100);
    --ax-bg-meta-lime-softA: var(--ax-meta-lime-100A);
    --ax-bg-meta-lime-moderate: var(--ax-meta-lime-200);
    --ax-bg-meta-lime-moderateA: var(--ax-meta-lime-200A);
    --ax-bg-meta-lime-moderate-hover: var(--ax-meta-lime-300);
    --ax-bg-meta-lime-moderate-hoverA: var(--ax-meta-lime-300A);
    --ax-bg-meta-lime-moderate-pressed: var(--ax-meta-lime-400);
    --ax-bg-meta-lime-moderate-pressedA: var(--ax-meta-lime-400A);
    --ax-bg-meta-lime-strong: var(--ax-meta-lime-600);
    --ax-bg-meta-lime-strong-hover: var(--ax-meta-lime-700);
    --ax-bg-meta-lime-strong-pressed: var(--ax-meta-lime-800);
    --ax-text-neutral: var(--ax-neutral-1000);
    --ax-text-neutral-subtle: var(--ax-neutral-900);
    --ax-text-neutral-decoration: var(--ax-neutral-600);
    --ax-text-neutral-contrast: var(--ax-neutral-000);
    --ax-text-accent: var(--ax-accent-1000);
    --ax-text-accent-subtle: var(--ax-accent-800);
    --ax-text-accent-decoration: var(--ax-accent-600);
    --ax-text-accent-contrast: var(--ax-neutral-000);
    --ax-text-success: var(--ax-success-1000);
    --ax-text-success-subtle: var(--ax-success-800);
    --ax-text-success-decoration: var(--ax-success-600);
    --ax-text-success-contrast: var(--ax-neutral-000);
    --ax-text-warning: var(--ax-warning-1000);
    --ax-text-warning-subtle: var(--ax-warning-800);
    --ax-text-warning-decoration: var(--ax-warning-600);
    --ax-text-warning-contrast: var(--ax-neutral-000);
    --ax-text-danger: var(--ax-danger-1000);
    --ax-text-danger-subtle: var(--ax-danger-800);
    --ax-text-danger-decoration: var(--ax-danger-600);
    --ax-text-danger-contrast: var(--ax-neutral-000);
    --ax-text-info: var(--ax-info-1000);
    --ax-text-info-subtle: var(--ax-info-800);
    --ax-text-info-decoration: var(--ax-info-600);
    --ax-text-info-contrast: var(--ax-neutral-000);
    --ax-text-brand-magenta: var(--ax-brand-magenta-1000);
    --ax-text-brand-magenta-subtle: var(--ax-brand-magenta-800);
    --ax-text-brand-magenta-decoration: var(--ax-brand-magenta-600);
    --ax-text-brand-magenta-contrast: var(--ax-neutral-000);
    --ax-text-brand-beige: var(--ax-brand-beige-1000);
    --ax-text-brand-beige-subtle: var(--ax-brand-beige-800);
    --ax-text-brand-beige-decoration: var(--ax-brand-beige-600);
    --ax-text-brand-beige-contrast: var(--ax-neutral-000);
    --ax-text-brand-blue: var(--ax-brand-blue-1000);
    --ax-text-brand-blue-subtle: var(--ax-brand-blue-800);
    --ax-text-brand-blue-decoration: var(--ax-brand-blue-600);
    --ax-text-brand-blue-contrast: var(--ax-neutral-000);
    --ax-text-meta-purple: var(--ax-meta-purple-1000);
    --ax-text-meta-purple-subtle: var(--ax-meta-purple-800);
    --ax-text-meta-purple-decoration: var(--ax-meta-purple-600);
    --ax-text-meta-purple-contrast: var(--ax-neutral-000);
    --ax-text-meta-lime: var(--ax-meta-lime-1000);
    --ax-text-meta-lime-subtle: var(--ax-meta-lime-800);
    --ax-text-meta-lime-decoration: var(--ax-meta-lime-600);
    --ax-text-meta-lime-contrast: var(--ax-neutral-000);
    --ax-border-neutral: var(--ax-neutral-600);
    --ax-border-neutral-subtle: var(--ax-neutral-400);
    --ax-border-neutral-subtleA: var(--ax-neutral-400A);
    --ax-border-neutral-strong: var(--ax-neutral-700);
    --ax-border-accent: var(--ax-accent-600);
    --ax-border-accent-subtle: var(--ax-accent-400);
    --ax-border-accent-subtleA: var(--ax-accent-400A);
    --ax-border-accent-strong: var(--ax-accent-700);
    --ax-border-success: var(--ax-success-600);
    --ax-border-success-subtle: var(--ax-success-400);
    --ax-border-success-subtleA: var(--ax-success-400A);
    --ax-border-success-strong: var(--ax-success-700);
    --ax-border-warning: var(--ax-warning-600);
    --ax-border-warning-subtle: var(--ax-warning-400);
    --ax-border-warning-subtleA: var(--ax-warning-400A);
    --ax-border-warning-strong: var(--ax-warning-700);
    --ax-border-danger: var(--ax-danger-600);
    --ax-border-danger-subtle: var(--ax-danger-400);
    --ax-border-danger-subtleA: var(--ax-danger-400A);
    --ax-border-danger-strong: var(--ax-danger-700);
    --ax-border-info: var(--ax-info-600);
    --ax-border-info-subtle: var(--ax-info-400);
    --ax-border-info-subtleA: var(--ax-info-400A);
    --ax-border-info-strong: var(--ax-info-700);
    --ax-border-brand-magenta: var(--ax-brand-magenta-600);
    --ax-border-brand-magenta-subtle: var(--ax-brand-magenta-400);
    --ax-border-brand-magenta-subtleA: var(--ax-brand-magenta-400A);
    --ax-border-brand-magenta-strong: var(--ax-brand-magenta-700);
    --ax-border-brand-beige: var(--ax-brand-beige-600);
    --ax-border-brand-beige-subtle: var(--ax-brand-beige-400);
    --ax-border-brand-beige-subtleA: var(--ax-brand-beige-400A);
    --ax-border-brand-beige-strong: var(--ax-brand-beige-700);
    --ax-border-brand-blue: var(--ax-brand-blue-600);
    --ax-border-brand-blue-subtle: var(--ax-brand-blue-400);
    --ax-border-brand-blue-subtleA: var(--ax-brand-blue-400A);
    --ax-border-brand-blue-strong: var(--ax-brand-blue-700);
    --ax-border-meta-purple: var(--ax-meta-purple-600);
    --ax-border-meta-purple-subtle: var(--ax-meta-purple-400);
    --ax-border-meta-purple-subtleA: var(--ax-meta-purple-400A);
    --ax-border-meta-purple-strong: var(--ax-meta-purple-700);
    --ax-border-meta-lime: var(--ax-meta-lime-600);
    --ax-border-meta-lime-subtle: var(--ax-meta-lime-400);
    --ax-border-meta-lime-subtleA: var(--ax-meta-lime-400A);
    --ax-border-meta-lime-strong: var(--ax-meta-lime-700);
}

:root,
:host {
    --ax-version: "7.25.1";
    --ax-space-0: 0rem;
    --ax-space-1: 0.0625rem;
    --ax-space-2: 0.125rem;
    --ax-space-4: 0.25rem;
    --ax-space-6: 0.375rem;
    --ax-space-8: 0.5rem;
    --ax-space-12: 0.75rem;
    --ax-space-16: 1rem;
    --ax-space-20: 1.25rem;
    --ax-space-24: 1.5rem;
    --ax-space-28: 1.75rem;
    --ax-space-32: 2rem;
    --ax-space-36: 2.25rem;
    --ax-space-40: 2.5rem;
    --ax-space-44: 2.75rem;
    --ax-space-48: 3rem;
    --ax-space-56: 3.5rem;
    --ax-space-64: 4rem;
    --ax-space-72: 4.5rem;
    --ax-space-80: 5rem;
    --ax-space-96: 6rem;
    --ax-space-128: 8rem;
    --ax-radius-2: 2px;
    --ax-radius-4: 4px;
    --ax-radius-8: 8px;
    --ax-radius-12: 12px;
    --ax-radius-full: 9999px;
    --ax-border-radius-full: 9999px;
    --ax-border-radius-small: 2px;
    --ax-border-radius-medium: 4px;
    --ax-border-radius-large: 8px;
    --ax-border-radius-xlarge: 12px;
    --ax-breakpoint-xs: 0;
    --ax-breakpoint-sm: 480px;
    --ax-breakpoint-sm-down: 479px;
    --ax-breakpoint-md: 768px;
    --ax-breakpoint-md-down: 767px;
    --ax-breakpoint-lg: 1024px;
    --ax-breakpoint-lg-down: 1023px;
    --ax-breakpoint-xl: 1280px;
    --ax-breakpoint-xl-down: 1279px;
    --ax-breakpoint-2xl: 1440px;
    --ax-breakpoint-2xl-down: 1439px;
    --ax-font-family: "Source Sans 3", "Source Sans Pro", Arial, sans-serif;
    --ax-font-line-height-heading-2xlarge: 3.25rem;
    --ax-font-line-height-heading-xlarge: 2.5rem;
    --ax-font-line-height-heading-large: 2.25rem;
    --ax-font-line-height-heading-medium: 2rem;
    --ax-font-line-height-heading-small: 1.75rem;
    --ax-font-line-height-heading-xsmall: 1.5rem;
    --ax-font-line-height-xlarge: 1.75rem;
    --ax-font-line-height-large: 1.5rem;
    --ax-font-line-height-medium: 1.25rem;
    --ax-font-size-heading-2xlarge: 2.5rem;
    --ax-font-size-heading-xlarge: 2rem;
    --ax-font-size-heading-large: 1.75rem;
    --ax-font-size-heading-medium: 1.5rem;
    --ax-font-size-heading-small: 1.25rem;
    --ax-font-size-heading-xsmall: 1.125rem;
    --ax-font-size-xlarge: 1.25rem;
    --ax-font-size-large: 1.125rem;
    --ax-font-size-medium: 1rem;
    --ax-font-size-small: 0.875rem;
    --ax-font-weight-bold: 600;
    --ax-font-weight-regular: 400;
}

[data-color="neutral"] {
    --ax-bg-soft: var(--ax-bg-neutral-soft);
    --ax-bg-softA: var(--ax-bg-neutral-softA);
    --ax-bg-moderate: var(--ax-bg-neutral-moderate);
    --ax-bg-moderateA: var(--ax-bg-neutral-moderateA);
    --ax-bg-moderate-hover: var(--ax-bg-neutral-moderate-hover);
    --ax-bg-moderate-hoverA: var(--ax-bg-neutral-moderate-hoverA);
    --ax-bg-moderate-pressed: var(--ax-bg-neutral-moderate-pressed);
    --ax-bg-moderate-pressedA: var(--ax-bg-neutral-moderate-pressedA);
    --ax-bg-strong: var(--ax-bg-neutral-strong);
    --ax-bg-strong-hover: var(--ax-bg-neutral-strong-hover);
    --ax-bg-strong-pressed: var(--ax-bg-neutral-strong-pressed);
    --ax-text-default: var(--ax-text-neutral);
    --ax-text-subtle: var(--ax-text-neutral-subtle);
    --ax-text-decoration: var(--ax-text-neutral-decoration);
    --ax-text-contrast: var(--ax-text-neutral-contrast);
    --ax-border-default: var(--ax-border-neutral);
    --ax-border-subtle: var(--ax-border-neutral-subtle);
    --ax-border-subtleA: var(--ax-border-neutral-subtleA);
    --ax-border-strong: var(--ax-border-neutral-strong);
}

:root,
[data-color="accent"] {
    --ax-bg-soft: var(--ax-bg-accent-soft);
    --ax-bg-softA: var(--ax-bg-accent-softA);
    --ax-bg-moderate: var(--ax-bg-accent-moderate);
    --ax-bg-moderateA: var(--ax-bg-accent-moderateA);
    --ax-bg-moderate-hover: var(--ax-bg-accent-moderate-hover);
    --ax-bg-moderate-hoverA: var(--ax-bg-accent-moderate-hoverA);
    --ax-bg-moderate-pressed: var(--ax-bg-accent-moderate-pressed);
    --ax-bg-moderate-pressedA: var(--ax-bg-accent-moderate-pressedA);
    --ax-bg-strong: var(--ax-bg-accent-strong);
    --ax-bg-strong-hover: var(--ax-bg-accent-strong-hover);
    --ax-bg-strong-pressed: var(--ax-bg-accent-strong-pressed);
    --ax-text-default: var(--ax-text-accent);
    --ax-text-subtle: var(--ax-text-accent-subtle);
    --ax-text-decoration: var(--ax-text-accent-decoration);
    --ax-text-contrast: var(--ax-text-accent-contrast);
    --ax-border-default: var(--ax-border-accent);
    --ax-border-subtle: var(--ax-border-accent-subtle);
    --ax-border-subtleA: var(--ax-border-accent-subtleA);
    --ax-border-strong: var(--ax-border-accent-strong);
}

[data-color="brand-beige"] {
    --ax-bg-soft: var(--ax-bg-brand-beige-soft);
    --ax-bg-softA: var(--ax-bg-brand-beige-softA);
    --ax-bg-moderate: var(--ax-bg-brand-beige-moderate);
    --ax-bg-moderateA: var(--ax-bg-brand-beige-moderateA);
    --ax-bg-moderate-hover: var(--ax-bg-brand-beige-moderate-hover);
    --ax-bg-moderate-hoverA: var(--ax-bg-brand-beige-moderate-hoverA);
    --ax-bg-moderate-pressed: var(--ax-bg-brand-beige-moderate-pressed);
    --ax-bg-moderate-pressedA: var(--ax-bg-brand-beige-moderate-pressedA);
    --ax-bg-strong: var(--ax-bg-brand-beige-strong);
    --ax-bg-strong-hover: var(--ax-bg-brand-beige-strong-hover);
    --ax-bg-strong-pressed: var(--ax-bg-brand-beige-strong-pressed);
    --ax-text-default: var(--ax-text-brand-beige);
    --ax-text-subtle: var(--ax-text-brand-beige-subtle);
    --ax-text-decoration: var(--ax-text-brand-beige-decoration);
    --ax-text-contrast: var(--ax-text-brand-beige-contrast);
    --ax-border-default: var(--ax-border-brand-beige);
    --ax-border-subtle: var(--ax-border-brand-beige-subtle);
    --ax-border-subtleA: var(--ax-border-brand-beige-subtleA);
    --ax-border-strong: var(--ax-border-brand-beige-strong);
}

[data-color="brand-blue"] {
    --ax-bg-soft: var(--ax-bg-brand-blue-soft);
    --ax-bg-softA: var(--ax-bg-brand-blue-softA);
    --ax-bg-moderate: var(--ax-bg-brand-blue-moderate);
    --ax-bg-moderateA: var(--ax-bg-brand-blue-moderateA);
    --ax-bg-moderate-hover: var(--ax-bg-brand-blue-moderate-hover);
    --ax-bg-moderate-hoverA: var(--ax-bg-brand-blue-moderate-hoverA);
    --ax-bg-moderate-pressed: var(--ax-bg-brand-blue-moderate-pressed);
    --ax-bg-moderate-pressedA: var(--ax-bg-brand-blue-moderate-pressedA);
    --ax-bg-strong: var(--ax-bg-brand-blue-strong);
    --ax-bg-strong-hover: var(--ax-bg-brand-blue-strong-hover);
    --ax-bg-strong-pressed: var(--ax-bg-brand-blue-strong-pressed);
    --ax-text-default: var(--ax-text-brand-blue);
    --ax-text-subtle: var(--ax-text-brand-blue-subtle);
    --ax-text-decoration: var(--ax-text-brand-blue-decoration);
    --ax-text-contrast: var(--ax-text-brand-blue-contrast);
    --ax-border-default: var(--ax-border-brand-blue);
    --ax-border-subtle: var(--ax-border-brand-blue-subtle);
    --ax-border-subtleA: var(--ax-border-brand-blue-subtleA);
    --ax-border-strong: var(--ax-border-brand-blue-strong);
}

[data-color="brand-magenta"] {
    --ax-bg-soft: var(--ax-bg-brand-magenta-soft);
    --ax-bg-softA: var(--ax-bg-brand-magenta-softA);
    --ax-bg-moderate: var(--ax-bg-brand-magenta-moderate);
    --ax-bg-moderateA: var(--ax-bg-brand-magenta-moderateA);
    --ax-bg-moderate-hover: var(--ax-bg-brand-magenta-moderate-hover);
    --ax-bg-moderate-hoverA: var(--ax-bg-brand-magenta-moderate-hoverA);
    --ax-bg-moderate-pressed: var(--ax-bg-brand-magenta-moderate-pressed);
    --ax-bg-moderate-pressedA: var(--ax-bg-brand-magenta-moderate-pressedA);
    --ax-bg-strong: var(--ax-bg-brand-magenta-strong);
    --ax-bg-strong-hover: var(--ax-bg-brand-magenta-strong-hover);
    --ax-bg-strong-pressed: var(--ax-bg-brand-magenta-strong-pressed);
    --ax-text-default: var(--ax-text-brand-magenta);
    --ax-text-subtle: var(--ax-text-brand-magenta-subtle);
    --ax-text-decoration: var(--ax-text-brand-magenta-decoration);
    --ax-text-contrast: var(--ax-text-brand-magenta-contrast);
    --ax-border-default: var(--ax-border-brand-magenta);
    --ax-border-subtle: var(--ax-border-brand-magenta-subtle);
    --ax-border-subtleA: var(--ax-border-brand-magenta-subtleA);
    --ax-border-strong: var(--ax-border-brand-magenta-strong);
}

[data-color="info"] {
    --ax-bg-soft: var(--ax-bg-info-soft);
    --ax-bg-softA: var(--ax-bg-info-softA);
    --ax-bg-moderate: var(--ax-bg-info-moderate);
    --ax-bg-moderateA: var(--ax-bg-info-moderateA);
    --ax-bg-moderate-hover: var(--ax-bg-info-moderate-hover);
    --ax-bg-moderate-hoverA: var(--ax-bg-info-moderate-hoverA);
    --ax-bg-moderate-pressed: var(--ax-bg-info-moderate-pressed);
    --ax-bg-moderate-pressedA: var(--ax-bg-info-moderate-pressedA);
    --ax-bg-strong: var(--ax-bg-info-strong);
    --ax-bg-strong-hover: var(--ax-bg-info-strong-hover);
    --ax-bg-strong-pressed: var(--ax-bg-info-strong-pressed);
    --ax-text-default: var(--ax-text-info);
    --ax-text-subtle: var(--ax-text-info-subtle);
    --ax-text-decoration: var(--ax-text-info-decoration);
    --ax-text-contrast: var(--ax-text-info-contrast);
    --ax-border-default: var(--ax-border-info);
    --ax-border-subtle: var(--ax-border-info-subtle);
    --ax-border-subtleA: var(--ax-border-info-subtleA);
    --ax-border-strong: var(--ax-border-info-strong);
}

[data-color="success"] {
    --ax-bg-soft: var(--ax-bg-success-soft);
    --ax-bg-softA: var(--ax-bg-success-softA);
    --ax-bg-moderate: var(--ax-bg-success-moderate);
    --ax-bg-moderateA: var(--ax-bg-success-moderateA);
    --ax-bg-moderate-hover: var(--ax-bg-success-moderate-hover);
    --ax-bg-moderate-hoverA: var(--ax-bg-success-moderate-hoverA);
    --ax-bg-moderate-pressed: var(--ax-bg-success-moderate-pressed);
    --ax-bg-moderate-pressedA: var(--ax-bg-success-moderate-pressedA);
    --ax-bg-strong: var(--ax-bg-success-strong);
    --ax-bg-strong-hover: var(--ax-bg-success-strong-hover);
    --ax-bg-strong-pressed: var(--ax-bg-success-strong-pressed);
    --ax-text-default: var(--ax-text-success);
    --ax-text-subtle: var(--ax-text-success-subtle);
    --ax-text-decoration: var(--ax-text-success-decoration);
    --ax-text-contrast: var(--ax-text-success-contrast);
    --ax-border-default: var(--ax-border-success);
    --ax-border-subtle: var(--ax-border-success-subtle);
    --ax-border-subtleA: var(--ax-border-success-subtleA);
    --ax-border-strong: var(--ax-border-success-strong);
}

[data-color="warning"] {
    --ax-bg-soft: var(--ax-bg-warning-soft);
    --ax-bg-softA: var(--ax-bg-warning-softA);
    --ax-bg-moderate: var(--ax-bg-warning-moderate);
    --ax-bg-moderateA: var(--ax-bg-warning-moderateA);
    --ax-bg-moderate-hover: var(--ax-bg-warning-moderate-hover);
    --ax-bg-moderate-hoverA: var(--ax-bg-warning-moderate-hoverA);
    --ax-bg-moderate-pressed: var(--ax-bg-warning-moderate-pressed);
    --ax-bg-moderate-pressedA: var(--ax-bg-warning-moderate-pressedA);
    --ax-bg-strong: var(--ax-bg-warning-strong);
    --ax-bg-strong-hover: var(--ax-bg-warning-strong-hover);
    --ax-bg-strong-pressed: var(--ax-bg-warning-strong-pressed);
    --ax-text-default: var(--ax-text-warning);
    --ax-text-subtle: var(--ax-text-warning-subtle);
    --ax-text-decoration: var(--ax-text-warning-decoration);
    --ax-text-contrast: var(--ax-text-warning-contrast);
    --ax-border-default: var(--ax-border-warning);
    --ax-border-subtle: var(--ax-border-warning-subtle);
    --ax-border-subtleA: var(--ax-border-warning-subtleA);
    --ax-border-strong: var(--ax-border-warning-strong);
}

[data-color="danger"] {
    --ax-bg-soft: var(--ax-bg-danger-soft);
    --ax-bg-softA: var(--ax-bg-danger-softA);
    --ax-bg-moderate: var(--ax-bg-danger-moderate);
    --ax-bg-moderateA: var(--ax-bg-danger-moderateA);
    --ax-bg-moderate-hover: var(--ax-bg-danger-moderate-hover);
    --ax-bg-moderate-hoverA: var(--ax-bg-danger-moderate-hoverA);
    --ax-bg-moderate-pressed: var(--ax-bg-danger-moderate-pressed);
    --ax-bg-moderate-pressedA: var(--ax-bg-danger-moderate-pressedA);
    --ax-bg-strong: var(--ax-bg-danger-strong);
    --ax-bg-strong-hover: var(--ax-bg-danger-strong-hover);
    --ax-bg-strong-pressed: var(--ax-bg-danger-strong-pressed);
    --ax-text-default: var(--ax-text-danger);
    --ax-text-subtle: var(--ax-text-danger-subtle);
    --ax-text-decoration: var(--ax-text-danger-decoration);
    --ax-text-contrast: var(--ax-text-danger-contrast);
    --ax-border-default: var(--ax-border-danger);
    --ax-border-subtle: var(--ax-border-danger-subtle);
    --ax-border-subtleA: var(--ax-border-danger-subtleA);
    --ax-border-strong: var(--ax-border-danger-strong);
}

[data-color="meta-purple"] {
    --ax-bg-soft: var(--ax-bg-meta-purple-soft);
    --ax-bg-softA: var(--ax-bg-meta-purple-softA);
    --ax-bg-moderate: var(--ax-bg-meta-purple-moderate);
    --ax-bg-moderateA: var(--ax-bg-meta-purple-moderateA);
    --ax-bg-moderate-hover: var(--ax-bg-meta-purple-moderate-hover);
    --ax-bg-moderate-hoverA: var(--ax-bg-meta-purple-moderate-hoverA);
    --ax-bg-moderate-pressed: var(--ax-bg-meta-purple-moderate-pressed);
    --ax-bg-moderate-pressedA: var(--ax-bg-meta-purple-moderate-pressedA);
    --ax-bg-strong: var(--ax-bg-meta-purple-strong);
    --ax-bg-strong-hover: var(--ax-bg-meta-purple-strong-hover);
    --ax-bg-strong-pressed: var(--ax-bg-meta-purple-strong-pressed);
    --ax-text-default: var(--ax-text-meta-purple);
    --ax-text-subtle: var(--ax-text-meta-purple-subtle);
    --ax-text-decoration: var(--ax-text-meta-purple-decoration);
    --ax-text-contrast: var(--ax-text-meta-purple-contrast);
    --ax-border-default: var(--ax-border-meta-purple);
    --ax-border-subtle: var(--ax-border-meta-purple-subtle);
    --ax-border-subtleA: var(--ax-border-meta-purple-subtleA);
    --ax-border-strong: var(--ax-border-meta-purple-strong);
}

[data-color="meta-lime"] {
    --ax-bg-soft: var(--ax-bg-meta-lime-soft);
    --ax-bg-softA: var(--ax-bg-meta-lime-softA);
    --ax-bg-moderate: var(--ax-bg-meta-lime-moderate);
    --ax-bg-moderateA: var(--ax-bg-meta-lime-moderateA);
    --ax-bg-moderate-hover: var(--ax-bg-meta-lime-moderate-hover);
    --ax-bg-moderate-hoverA: var(--ax-bg-meta-lime-moderate-hoverA);
    --ax-bg-moderate-pressed: var(--ax-bg-meta-lime-moderate-pressed);
    --ax-bg-moderate-pressedA: var(--ax-bg-meta-lime-moderate-pressedA);
    --ax-bg-strong: var(--ax-bg-meta-lime-strong);
    --ax-bg-strong-hover: var(--ax-bg-meta-lime-strong-hover);
    --ax-bg-strong-pressed: var(--ax-bg-meta-lime-strong-pressed);
    --ax-text-default: var(--ax-text-meta-lime);
    --ax-text-subtle: var(--ax-text-meta-lime-subtle);
    --ax-text-decoration: var(--ax-text-meta-lime-decoration);
    --ax-text-contrast: var(--ax-text-meta-lime-contrast);
    --ax-border-default: var(--ax-border-meta-lime);
    --ax-border-subtle: var(--ax-border-meta-lime-subtle);
    --ax-border-subtleA: var(--ax-border-meta-lime-subtleA);
    --ax-border-strong: var(--ax-border-meta-lime-strong);
}
